.logo {
  display: flex;
  flex-direction: column;
  width: 135px;
  &__text2 {
    margin-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
  }
  @media (max-width: 850px) {
    width: 113px;
    &__text2 {
      margin-top: 10px;
      font-size: 10px;
      line-height: 12px;
    }
  }
}
