.h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 135%;
  color: #d4c17f;
  @media (max-width: 850px) {
    font-weight: 700;
    font-size: 30px;
  }
   @media (max-width: 500px) {
    font-weight: 700;
    font-size: 25px;
  }
}
