.button {
  cursor: pointer;
  width: 255px;
  height: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  background: #D4C17F;
  border: none;
  @media (max-width: 850px) {
    font-size: 14px;
    line-height: 20px;
    width: 150px;
    height: 40px;
  }
}
