.footer {
  background: #2d343c;
  height: 272px;
  &__wrapper {
    width: 100%;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
  }
  &__column {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__row {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    &__links {
      display: flex;
      gap: 20px;
    }
    &__mail {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.05em;
      color: #d4c17f;
    }
  }
  &__icon {
    fill: white;
    &:hover {
      transition: 0.3s all ease;
      fill: #d4c17f;
    }
  }
  @media (max-width: 750px) {
    height: 200px;
    &__wrapper {
      width: 100%;
      padding-top: 30px;
      display: flex;
      justify-content: space-between;
    }
    &__logo {
      display: none;
    }
  }
  @media (max-width: 500px) {
    &__wrapper {
    justify-content: center;
  }
    &__column_none{
      display: none;
    }
  }
}
